* {
	box-sizing: border-box;
	text-overflow: ellipsis;
	text-rendering: optimizeLegibility;

	@media (prefers-reduced-motion: reduce) {
		&,
		&:after,
		&:before {
			animation-duration: 0.0001s !important;
			animation-delay: 0.0001s !important;
			transition-duration: 0.0001s !important;
			transition-delay: 0.0001s !important;
		}
	}
}

html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
}

html {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-main);
	font-size: 10px;
	overflow-x: hidden;
}

body {
	align-content: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	transition-duration: 0.2s;
	transition-property: font-size;
}

#__next {
	display: flex;
	height: 100%;
}
