.page-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	grid-area: main;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	main {
		align-items: flex-start;
		display: grid;
		column-gap: var(--big-gutter);
		grid-template-areas:
			'page-title page-title'
			'content table-of-contents';
		padding: calc(var(--gutter) * 2) calc(var(--gutter) * 4);

		&.no-table-of-contents {
			column-gap: 0;
			grid-template-areas:
				'page-title'
				'content';
		}

		h2 {
			border-bottom-color: var(--palette-white);
			border-bottom-style: solid;
			border-bottom-width: 0.2rem;
			font-family: var(--font-display);
			font-size: 5rem;
			letter-spacing: 0.5rem;
			margin-bottom: var(--gutter);
		}
	}
}

.page-title {
	color: var(--heading-color);
	grid-area: page-title;
}
